<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <header>
        <div>
            <div class="container">
                <div class="row" style="height:105px">
                    <div class="col-md-3 topLogoContainer">
                        <div class="topLogo"></div>
                    </div>
                    <div class="col-md-9 site-title">
                        @Html.ActionLink("AD Supplier Portal", "Index", "User")
                    </div>
                </div>
            </div>
            <div class="container menuBarContainer">
                <div class="row">
                    <nav>
                        <ul id="menu" style="text-align:center;">
                            <li name="domain" class="col-md-3 navItem"><span class="navMenuLink">Search</span></li>
                            <li name="keyword" class="col-md-3 navItem"><span class="navMenuLink">Permission</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </header>

    <div class="container body-content" style="margin-top:50px;">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/select2")
    @RenderSection("scripts", required: false)
</body>
</html>
