@model IEnumerable<Magneti_Marelli_Test.Models.User>

@using Magneti_Marelli_Test.Utility;

@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
<script>

    $(document).ready(function () {
        $('#grid').DataTable({
            "pagingType": "full_numbers",
            searching: false
        } );
    });

</script>
    }
<div>
    <div class="row">
        @{Html.RenderAction("GetCurrentUserDetails", "User");} 
    </div>
</div>

<div>
    <div class="row">
        <div class="col-xs-12">

            <h1 class="page-header text-center">
                Find &amp; Add <span>User</span>
            </h1>

            <div class="col-xs-6 col-xs-offset-3">
                @using (Html.BeginForm("Query", "user", FormMethod.Post, new { @class = "col-xs-8" }))
                {

                    <span class="input-group">
                       
                        <input type="text" name="qry" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                <input type="submit" value="Search" class="btn btn-default" >
                        </span>
                        
                    </span>
                }
                <span class="col-xs-4">
                    @Ajax.RawActionLink(string.Format("<i class='fa fa-user-plus'></i> Add User"), "AddUser", "User",null, new AjaxOptions { HttpMethod = "GET" }, new { @class = "btn btn-sm btn-default" })
                </span>
            </div>

        </div>
    </div> <!-- / .row -->
</div>
@* By default BeginForm use FormMethod.Post *@

<!--With DataTable-->
<div style="margin-top:10px;">
        <table id="grid" class="display compact" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "User",new { id = item.UserId })" class="btn btn-sm btn-primary">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                Edit User
                            </a>
                           
                        </td>
                        @*<td>
                            <a href="@Url.Action("Delete", "User",new { id = item.UserId })" class="btn btn-sm btn-danger">
                                Delete User
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
</div>

<!--/With DataTable-->

<!--Without DataTable-->
@*<div class="table-responsive" style="margin-top:20px; max-height:600px;" >
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        @Html.DisplayFor(modelItem => item.UserId)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "User",new { id = item.UserId })" class="btn btn-sm btn-primary">
                            Edit User
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a>
                        <a href="@Url.Action("Delete", "User",new { id = item.UserId })" class="btn btn-sm btn-danger">
                            Delete User
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<!--/ Without DataTable-->


